@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
    --bg-primary: #79432C;
    --accent-color: #FC4C00;
    --text-color: #FC4C00;
    --destaque-color: #361000;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "IBM Plex Mono", monospace;
    background-color: var(--bg-primary);
    overflow-x: hidden;
}

header{
    position: absolute;
    top: 100px;
    width: 100%;
    z-index: 10;
}

.logo-brand{
    max-width: 450px;
    width: 80%;
    margin-bottom: 10px;
    padding-bottom: 20px;
}

.btn-custom-filled{
    background-color: var(--accent-color);
    color: var(--destaque-color);
    border: 2px solid var(--accent-color);
    font-weight: 700;
}

.btn-custom-filled:hover{
    background-color: var(--destaque-color);
    border-color: var(--destaque-color);
    color: var(--accent-color);
}

.btn-custom-outline{
    background-color: transparent;
    color: var(--accent-color);
    border: 2px solid var(--accent-color);
    font-weight: 700;
}

.btn-custom-outline:hover{
    background-color: var(--destaque-color);
    color: var(--accent-color);
}

.btn-custom{
    color: var(--accent-color);
    border: 2px solid var(--accent-color);
    font-weight: 500;
    transition: 0.3s;
}

.btn-custom:hover{
    background-color: var(--accent-color);
    color: var(--destaque-color);
}

#home{
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 10vw;
    overflow: hidden;
}

.hero-photo{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center 20%;
    z-index: 1;
    opacity: 0.9;
}

h1{
    position: relative;
    font-size: 12rem;
    font-weight: 700;
    color: var(--text-color);
    z-index: 2;
    text-align: left;
    line-height: 0.9;
    margin-top: 200px;
}

footer{
    z-index: 10;
    color: var(--accent-color) !important;
    font-weight: 600;
}

.page-offset{
    padding-top: 350px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skill-pill {
    font-family: "IBM Plex Mono", monospace;
    font-size: 1.2rem;
    font-weight: 700;
    padding: 15px 35px;
    border-radius: 50px; 
    text-transform: uppercase;
    transition: all 0.3s ease;
    border: 2px solid transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: default;
}

.skill-pill:hover {
    transform: scale(1.05);
}

.pill-orange {
    background-color: var(--accent-color);
    color: var(--destaque-color);
}

.pill-orange:hover {
    background-color: transparent;
    border-color: var(--accent-color);
    color: var(--accent-color);
}

.pill-brown {
    background-color: var(--destaque-color); 
    color: var(--accent-color);
    border: 2px solid var(--destaque-color);
}

.pill-brown:hover {
    background-color: transparent;
    border-color: var(--accent-color);
}

.form-custom {
    background-color: var(--destaque-color); 
    color: var(--accent-color);
    border: none;
    border-radius: 20px;
    padding: 15px 20px;
    font-family: "IBM Plex Mono", monospace;
}

.form-custom::placeholder {
    color: var(--accent-color)
}

.form-custom:focus {
    background-color: var(--destaque-color);
    color: var(--accent-color);
    box-shadow: 0 0 0 2px var(--accent-color);
    border-color: var(--accent-color);
}

.form-select.form-custom {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='%23FC4C00' stroke='%23FC4C00' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
}

@media (max-width: 991px){

    header {
        top: 50px;
    }

    .logo-brand {
        max-width: 250px; 
        margin-bottom: 5px;
    }

    nav ul {
        flex-wrap: wrap;
        gap: 10px !important;
    }

    .btn-custom-filled, 
    .btn-custom-outline {
        padding: 5px 15px !important;
        font-size: 0.85rem;
    }

    h1 {
        font-size: 5rem;
        line-height: 0.9;
        margin-left: 20px;
    }

    #home {
        padding-left: 5vw;
        justify-content: center;
        align-items: flex-end;
        padding-bottom: 15vh;
    }

    #skills-page {
        padding-top: 240px !important; 
    }

}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateX(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

body {
    animation: fadeIn 0.85s ease-out;
}

@media (max-width: 768px) {
    .page-offset {
        padding-top: 190px !important;
        padding-bottom: 100px !important; 
        justify-content: flex-start !important;
    }

    main h2 {
        font-size: 2.2rem !important;
        line-height: 1.2 !important;
        text-align: left;
        margin-bottom: 20px;
    }

    main p {
        font-size: 1rem !important;
        text-align: left !important;
        color: var(--destaque-color) !important;
        margin-bottom: 15px !important;
    }

    .col-12 {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }

    #skills-page {
        padding-top: 240px !important; 
    }

    #title-contact{
        padding-bottom: -100px;
    }

    #contato-page {
        padding-top: 240px !important; 
    }
}